.active-cell {
  background-color: #3b3;
  width: 10px;
  height: 10px;
}

.inactive-cell {
  background-color: #333;
  width: 10px;
  height: 10px;
}

.game-controls {
  display: flex;
  flex-direction: row;
}

.new-game-form {
  display: flex;
  flex-direction: column;
}

.join-link {
  margin: 0px 5px;
}
